body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
}

html {
  min-height: 100%;
  background-image: linear-gradient(#231426, #0f0118);
}

section:not([id]) {
  margin: 25px 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

/* TEXT ELEMENTS */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rajdhani', sans-serif;
}

h1 {
  margin: 60px 0px;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  color: #FAF7FB;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  font-weight: 500;
  margin: 0;
  padding-top: 50px;
}

h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  font-weight: 600;
  padding-bottom: 30px;
  text-align: right;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

h6 {
 font-size: 1.2em;
}

p {
  font-size: 1em;
  /* max-width: 900px; */
  margin-bottom: 0;
  line-height: 1.5em;
}

ul li {
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: #CE71E6;
  transition: all 0.1s ease-out;
}

p a {
  font-weight: bold;
}

a:hover, a:active, a:focus {
  color: #B415DC;
  transform:scale(1.1);
}

.cta {
  background-color: #CE71E6;
  color: #FAF7FB;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 3px 5px black;
  padding: 10px 20px;
  border: none;
  transition: all 0.1s;
  margin-bottom: 50px;
  display: block;
  margin-right: 0;
  margin-left: auto;
  cursor: pointer;
}

.cta:hover, .cta:focus, .cta:active {
  background-color: #B415DC;
  color: #FAF7FB;
}

.cta h3 {
  padding: 0;
}

.cart-button {
  position: fixed;
  right: 50px;
  bottom: 50px;
  margin: 0;
}

input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  height: 50px;
  border: 2px solid #CE71E6;
}

input:hover, input:active, input:focus, textarea:hover, textarea:active, textarea:focus {
  border: 2px solid #B415DC;
}

.topnav { /* Modified from https://www.w3schools.com/howto/howto_js_topnav.asp */
  background-color: #FAF7FB;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 8px 12px -8px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.topnav a {
  text-align: center;
  padding: 20px 16px;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: normal;
}

.topnav a.active {
  color: #B415DC;
  font-weight: bold;
}

/* PAGE STRUCTURE CONTENT */

.page-content {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  max-width: 700px;
  margin-top: 120px;
}

.section-div {
  margin-bottom: 50px;
  padding: 0 50px 50px 50px;
  background-color: #FAF7FB;
  transition: all 0.1s;
}

.section-div-no-bg {
  margin-bottom: 50px;
  padding: 0 50px 50px 50px;
  background-color: none;
  color: #FAF7FB;
  text-align: center;
}

.img-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  margin-top: 30px;
}

/* IMAGES FOR IMAGE CONTAINERS */

#diva-machine {
  background-image: url("../img/project_diva_machine.jpg");
}

#diva-gameplay {
  background-image: url("../img/project_diva_gameplay.jpg");
}

#jubeat-machine {
  background-image: url("../img/jubeat_machines.jpg");
}

#jubeat-gameplay {
  background-image: url("../img/jubeat_gameplay.jpg");
}

#beatmania-machine {
  background-image: url("../img/beatmania_iidx_machine.jpg");
}

#beatmania-gameplay {
  background-image: url("../img/beatmania_iidx_gameplay.jpg");
}

.grow:hover, .grow:focus, .grow:active {
  transform: scale(1.1);
}

.section-div p {
  color: #231426;
}

.rating { /* Rating system adapted from https://css-tricks.com/star-ratings/ Credit to Chris Coyler */
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 2em
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;

}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

@media only screen and (max-width: 1100px) {
  .page-content {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}

/* PRODUCT LISTING */

.listing {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #FAF7FB;
}

.listing h2 {
  font-weight: 700;
}

.listing p {
  font-weight: bold;
  color: #FAF7FB;
}

#jubeat {
  background-image: url("../img/jubeat_machines.jpg");
}

#project-diva {
  background-image: url("../img/project_diva_gameplay.jpg");
}

#beatmania {
  background-image: url("../img/beatmania_iidx_gameplay.jpg");
}

/* CART */

.cart-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: #FAF7FB;
  align-items: center;
  margin-bottom: 50px;
}

.item-property {
  padding: 50px;
}

.cart-item h2, .cart-item p, .cart-item input {
  padding: 0;
  margin: 0;
}

.cart-item input[type=number] {
  max-width: 100px;
  text-align: center;
}
