body, html {
  background-color: #231426;
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
}

section:not([id]) {
  margin: 25px 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

/* TEXT ELEMENTS */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rajdhani', sans-serif;
}

h1 {
  margin: 60px 0px;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  color: #FAF7FB;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  font-weight: 500;
  margin: 0;
  padding-top: 50px;
}

h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  font-weight: 600;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

h6 {
 font-size: 1.2em;
}

p {
  font-size: 1em;
  /* max-width: 900px; */
  margin-bottom: 0;
}

ul {
  background: #ff9999;
  padding: 20px;
}

ul li {
  padding: 5px;
  margin-left: 35px;
}

a {
  text-decoration: none;
  color: #CE71E6;
  transition: all 0.1s ease-out;
}

a:hover, a:active, a:focus {
  color: #B415DC;
  transform:scale(1.1);
}

.firstcharacter { /* Retrieved from https://css-tricks.com/snippets/css/drop-caps/ */
  float: left;
  font-size: 4.2em;
  line-height: 0.8em;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

/* Quote */

blockquote {
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid lighten(black, 40%);
  &:before, &:after {
    content: '\201C';
    color: lighten($black, 40%);
    }
  &:after {
    content: '\201D';
  }
}

code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

img:hover {
  box-shadow: 0 0 5px 1px rgba(0, 140, 186, 0.5);
}

img:focus {
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  height: 50px;
  border: 2px solid #CE71E6;
}

input:hover, input:active, input:focus {
  border: 2px solid #B415DC;
}

span.price {
  float: right;
  color: grey;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.button-small{
  color: #fff;
  text-transform: uppercase;
  border: none;
  line-height: 22px;
  padding: 12px 13px 11px;
  text-align: center;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 18px;
}

.button-small:visited{
      color: #fff;
}
.button-small{ /* Modified from http://cssdeck.com/labs/xtkkwfbn */
    padding: 6px 12px 5px;
    font-size: 0.8em;
    color: #fff;
    text-shadow: none;
}
.button-small:hover{
    color: rgba(255,255,255, 0.75);
    box-shadow: inset 0 10px 20px rgba(255,255,255, 0.10);
}
.button-small:active {
    box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
}
.rounded {
    border-radius: 3px;
  }

.rounded2 {
  border-radius: 5px;
}

.orange {
    background: #ff7d64;
}

.red {
  background: #ff4164;
}

.yellow {
  background: #febd53;
}

.topnav { /* Modified from https://www.w3schools.com/howto/howto_js_topnav.asp */
  background-color: #FAF7FB;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 8px 12px -8px;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 20px 16px;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: normal;
}

.topnav a.active {
  color: #B415DC;
  font-weight: bold;
}

/* PAGE STRUCTURE CONTENT */

.page-content {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  margin-top: 120px;
}

.section-div {
  margin-bottom: 50px;
  padding: 0 50px 50px 50px;
  background-color: #FAF7FB;
  transition: all 0.1s;
}

.section-div:hover, .section-div:focus {
  transform: scale(1.1);
}

.section-div p {
  color: #231426;
}

@media only screen and (max-width: 1100px) {
  .page-content {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
}

/* CART */

.cart-item {
  display: flex;
  flex-wrap: wrap;
  background-color: #FAF7FB;
  align-items: center;
  margin-bottom: 50px;
}

.item-property {
  flex-grow: 1;
  padding: 50px;
}

#item-name {
  flex-grow: 2;
}

.cart-item h2, .cart-item p, .cart-item input {
  padding: 0;
  margin: 0;
}

.cart-item input[type=number] {
  max-width: 100px;
  text-align: center;
}